<footer class="dashboard_footer pt30 pb10">
    <div class="container">
      <div class="row items-center justify-content-center justify-content-md-between">
        <div class="col-auto">
          <div class="copyright-widget">
            <p class="text">© UH Housing - All rights reserved </p>
          </div>
        </div>
        <div class="col-auto">
          <div class="footer_bottom_right_widgets text-center text-lg-end">
            <p><a href="#">Privacy</a>  ·  <a href="#">Terms</a>  </p>
          </div>
        </div>
      </div>
    </div>
  </footer>