  <!-- Our Footer --> 
  <section class="footer-style1 pt60 pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="footer-widget mb-4 mb-lg-5">
            <a class="footer-logo" href="index.html"><img class="mb40" src="/x-x/images/unizik-housing-white.svg" alt=""></a>
            <div class="row mb-4 mb-lg-5">
              <div class="col-auto">
                <div class="contact-info">
                  <p class="info-title">Reach Us on</p>
                  <h6 class="info-phone"><a href="tel:+23432808404">+234 927 4893 8</a></h6>
                  <h6 class="info-phone"><a href="tel:+23432808404"> support@unizikhousing.com</a></h6>
                </div>
              </div>
              <div class="col-auto">
                <div class="contact-info">
                  <p class="info-title">Need Live Support?</p>
                  <h6 class="info-mail"><a href="https:wa.whatsapp.com/"> <i class="fa-brands fa-whatsapp"></i> +23490350590358</a></h6>
                </div>
              </div>
            </div>
            <div class="social-widget">
              <h6 class="text-white mb20">Follow us on social media</h6>
              <div class="social-style1">
                <a href="#"><i class="fab fa-facebook-f list-inline-item"></i></a>
                <a href="#"><i class="fab fa-twitter list-inline-item"></i></a>
                <a href="#"><i class="fab fa-instagram list-inline-item"></i></a>
                <a href="#"><i class="fab fa-linkedin-in list-inline-item"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 text-end">
          <div class="footer-widget mb-4 mb-lg-5">
            <div class="row justify-content-end">
              <div class="col-auto">
                <div class="link-style1 mb-3">
                  <h6 class="text-white mb25">Popular Search</h6>
                  <div class="link-list">
                    <a href="#">Apartments</a>
                    <a href="#">Lands</a>
                    <a href="#">Duplex</a>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <div class="link-style1 mb-3">
                  <h6 class="text-white mb25">Quick Links</h6>
                  <ul class="ps-0">
                    <li><a href="/listings">Listings</a></li>
                    <li><a href="/terms">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Our Services</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container white-bdrt1 py-4">
      <div class="row">
        <div class="col-sm-6">
          <div class="text-center text-lg-start">
            <p class="copyright-text text-gray ff-heading">© UH properties- All rights reserved</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="text-center text-lg-end">
            <p class="footer-menu ff-heading text-gray"><a class="text-gray" href="#">Privacy</a> · <a class="text-gray" href="#">Terms</a> 
          </div>
        </div>
      </div>
    </div>
  </section>
  <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>