
<% if(!mobileOnly){%>
  <!-- Main Header Nav -->
  <header class="header-nav nav-innerpage-style main-menu">
      <!-- Ace Responsive Menu -->
      <nav class="posr"> 
        <div class="container posr menu_bdrt1">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <a class="header-logo" href="/"><img src="/x-x/images/unizik-housing-dark.svg" alt="Header Logo"></a>
            </div>
            <div class="col-auto">
              <!-- Responsive Menu Structure-->
              <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                <li> <a class="list-item" href="/"><span class="title">Home</span></a> </li>
                <li class="visible_list"> <a class="list-item" href="#"><span class="title">Listing</span></a>
                  <ul>
                    <% listingTypes.forEach(list=>{%>
                      <li><a href="/<%= list.code %>"> <%= list.label %></a></li>
                      <%})%>
                    </ul>
                  </li>
                  <li> <a class="list-item" href="/rms"><span class="title">Best friends</span></a> </li>
                  <li> <a class="list-item" href="/contact"><span class="title">Contact</span></a> </li>
              </ul>
            </div>
            <div class="col-auto">
              <div class="d-flex align-items-center">
              <% if(!user){%>
                <!-- <a class="login-info d-flex align-items-center" data-bs-toggle="modal" href="/auth/login"><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">Login / Register</span></a> -->
                <a class="login-info d-flex align-items-center"  href="/auth/login"><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">Login / Register</span></a>
              <%}%>
                <%if(!activeurl && user?.agent ){%>
                    <a class="login-info d-flex align-items-center"  href="/dashboard" ><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block"> Dashboard</span></a>
                    <%}%>
                  <% if(activeurl !== '/newproperty' && user?.agent){%>
                    <a class="ud-btn btn-transparent add-property bdrs60 mx-2 mx-xl-4" href="page-dashboard-add-property.html">Add Property<i class="fal fa-arrow-right-long"></i></a>
                  <%}%>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
<%}%>
    
  <!-- Signup Modal -->

  <!-- <div class="signup-modal">
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Welcome to [] </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="log-reg-form">
              <div class="navtab-style2">
                <nav>
                  <div class="nav nav-tabs mb20" id="nav-tab" role="tablist">
                    <button class="nav-link active fw600" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Sign In</button>
                    <button class="nav-link fw600" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New Account</button>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent2">
                  <div class="tab-pane fade show active fz15" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="form-style1">
                      <div class="mb25">
                        <label class="form-label fw600 dark-color">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email">
                      </div>
                      <div class="mb15">
                        <label class="form-label fw600 dark-color">Password</label>
                        <input type="text" class="form-control" placeholder="Enter Password">
                      </div>
                      <div class="checkbox-style1 d-block d-sm-flex align-items-center justify-content-between mb10">
                        <label class="custom_checkbox fz14 ff-heading">Remember me
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                        <a class="fz14 ff-heading" href="#">Lost your password?</a>
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-thm" type="button">Sign in <i class="fal fa-arrow-right-long"></i></button>
                      </div>
                      <div class="hr_content mb20"><hr><span class="hr_top_text">OR</span></div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-white" type="button"><i class="fab fa-google"></i> Continue Google</button>
                      </div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-fb" type="button"><i class="fab fa-facebook-f"></i> Continue Facebook</button>
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-apple" type="button"><i class="fab fa-apple"></i> Continue Apple</button>
                      </div>
                      <p class="dark-color text-center mb0 mt10">Not signed up? <a class="dark-color fw600" href="page-register.html">Create an account.</a></p>
                    </div>
                  </div>
                  <div class="tab-pane fade fz15" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="form-style1">
                      <div class="mb25">
                        <label class="form-label fw600 dark-color">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email">
                      </div>
                      <div class="mb20">
                        <label class="form-label fw600 dark-color">Password</label>
                        <input type="text" class="form-control" placeholder="Enter Password">
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-thm" type="button">Create account <i class="fal fa-arrow-right-long"></i></button>
                      </div>
                      <div class="hr_content mb20"><hr><span class="hr_top_text">OR</span></div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-white" type="button"><i class="fab fa-google"></i> Continue Google</button>
                      </div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-fb" type="button"><i class="fab fa-facebook-f"></i> Continue Facebook</button>
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-apple" type="button"><i class="fab fa-apple"></i> Continue Apple</button>
                      </div>
                      <p class="dark-color text-center mb0 mt10">Not signed up? <a class="dark-color fw600" href="page-register.html">Create an account.</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>  -->

  <!-- Mobile Nav  -->
  <div id="page" class="mobilie_header_nav stylehome1">
    <div class="mobile-menu">
      <div class="header innerpage-style">
        <div class="menu_and_widgets">
          <div class="mobile_menu_bar d-flex justify-content-between align-items-center">
            <a class="menubar" href="#menu"><img src="/x-x/images/mobile-dark-nav-icon.svg" alt=""></a>
            <a class="mobile_logo" href="/"><img src="/x-x/images/unizik-housing-dark.svg" class="w-75" alt=""></a>
            <%if(!activeurl && user?.agent){%>
            <a href="/dashboard"><span class="icon fz18 far fa-user-circle"></span></a>
            <%}%>
          </div>
        </div>
      </div>
    </div>
    <!-- /.mobile-menu -->
    <nav id="menu" class="">
      <ul>
        <li> <a class="list-item" href="/"><span class="title">Home</span></a> </li>
        <li><span>Listings</span>
          <ul>
            <% listingTypes.forEach(list=>{%>
              <li><a href="/<%= list.code %>"> <%= list.label %></a></li>
              <%})%>
            </ul>
          </li>
          <li> <a class="list-item" href="/rms"><span class="title">Best friends</span></a> </li>
          <li> <a class="list-item" href="/contact"><span class="title">Contact</span></a> </li>
        <% if(!user){%>
          <li><a class="list-item"   href="/auth/login"><i class="far fa-user-circle fz16 me-2"></i> Login / Register</a></li>
        <%}%>
        <!-- Only for Mobile View -->
      </ul>
    </nav>
  </div>
