<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="advanced search, agency, agent, classified, directory, house, listing, property, real estate, real estate agency, real estate agent, realestate, realtor, rental">
<meta name="description" content="Homez - Real Estate HTML Template">
<meta name="CreativeLayers" content="ATFN">

<%- include("./partials/headLinks.ejs") -%>
<!-- Title -->
<title>Page not found</title>

</head>
<body>
<div class="wrapper ovh">
  <div class="preloader"></div>

 <div class="body_content">
    <!-- Error/404 Section Area -->
    <section class="our-error">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 wow fadeInRight" data-wow-delay="300ms">
            <div class="animate_content text-center text-xl-start">
              <div class="animate_thumb">
                <img class="w-100" src="/x-x/images/icon/error-page-img.svg" alt="error-page-img">
              </div>
            </div>
          </div>
          <div class="col-xl-5 offset-xl-1 wow fadeInLeft" data-wow-delay="300ms">
            <div class="error_page_content mt80 mt50-lg text-center text-xl-start">
              <div class="erro_code"><span class="text-thm">40</span>4</div>
              <div class="h2 error_title">Oops! It looks like you're lost.</div>
              <p class="text fz15 mb20"> <%= typeof m == 'string' ? m : "The page you're looking for isn't available." %> </p>
              <a href="/listings" class="ud-btn btn-dark">Go To Listing<i class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- # footer & scroll up # -->
    <%- include("./partials/footer.ejs") -%>
    <!-- footer end - -->
  </div>
</div>
  <%- include("./partials/scriptLinks.ejs") -%>
</body>

</html>