<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Mirrored from creativelayers.net/themes/homez-html/page-property-single-v4.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 May 2023 13:12:00 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="advanced search, agency, agent, classified, directory, house, listing, property, real estate, real estate agency, real estate agent, realestate, realtor, rental">
<meta name="description" content="Homez - Real Estate HTML Template">
<meta name="CreativeLayers" content="ATFN">


<link rel="stylesheet" href="/x-x/css/magnific-popup.css">

    <!-- Title -->
    <title> Details </title>

    <%- include("./partials/headLinks.ejs") -%>
</head>
<body>
<div class="wrapper ovh">
  <div class="preloader"></div>
  
 <!-- all header codes -->
 <%- include("./partials/headerNpreloader.ejs") -%>
 <!-- header ends here -->

  <div class="body_content">
    <!-- Property All Lists -->
    <section class="pt60 pb60 bgc-white">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
          <div class="col-lg-12">
            <div class="ps-v4-hero-tab position-relative">
              <ul class="nav nav-pills justify-content-end" id="pills-tab2" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active mr10" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><span class="flaticon-images text-white fz20"></span></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link mr10" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><span class="flaticon-map text-white fz20"></span></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><span class="flaticon-maps-1 text-white fz20"></span></button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="ps-v4-hero-tab">
        <div class="tab-content overflow-visible" id="pills-tabContent2">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="container">
              <div class="row wow fadeInUp" data-wow-delay="300ms">
                <div class="col-lg-12">
                  <div class="ps-v4-hero-slider dots_none slider-dib-sm slider-1-grid vam_nav_style owl-theme owl-carousel">
                    <div class="item">
                      <img class="bdrs12" src="/x-x/images/listings/listing-single-slide1.jpg" alt="">
                    </div>
                    <div class="item">
                      <img class="bdrs12" src="/x-x/images/listings/listing-single-slide2.jpg" alt="">
                    </div>
                    <div class="item">
                      <img class="bdrs12" src="/x-x/images/listings/listing-single-slide3.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <iframe class="position-relative h600" loading="lazy" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near" title="London Eye, London, United Kingdom" aria-label="London Eye, London, United Kingdom"></iframe>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <iframe class="h600 w-100" src="https://www.google.com/maps/embed?pb=!4v1553797194458!6m8!1m7!1sR4K_5Z2wRHTk9el8KLTh9Q!2m2!1d36.82551718071267!2d-76.34864590837246!3f305.15097!4f0!5f0.7820865974627469" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </section>
    <!-- Property All Lists -->
    <section class="pt0 pb90 bgc-white">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="100ms">
          <div class="col-lg-8">
            <div class="single-property-content mb30-md">
              <h2 class="sp-lg-title">Awesome Interior Apartment</h2>
              <div class="pd-meta mb15 d-md-flex align-items-center">
                <p class="text fz15 mb-0 pr10 bdrrn-sm">4834 N 10th St, Philadelphia, PA 19141</p>
              </div>
              <div class="property-meta d-flex align-items-center">
                <a class="ff-heading text-thm fz15 bdrr1 pr10 bdrrn-sm" href="#"><i class="fas fa-circle fz10 pe-2"></i>For sale</a>
                <a class="ff-heading bdrr1 fz15 pr10 ml10 ml0-sm bdrrn-sm" href="#"><i class="far fa-clock pe-2"></i>1 years ago</a>
                <a class="ff-heading ml10 ml0-sm fz15" href="#"><i class="flaticon-fullscreen pe-2 align-text-top"></i>8721</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-property-content">
              <div class="property-action text-lg-end">
                <div class="d-flex mb20 mb10-md align-items-center justify-content-lg-end">
                  <a class="icon mr10" href="#"><span class="flaticon-like"></span></a>
                  <a class="icon mr10" href="#"><span class="flaticon-new-tab"></span></a>
                  <a class="icon mr10" href="#"><span class="flaticon-share-1"></span></a>
                  <a class="icon" href="#"><span class="flaticon-printer"></span></a>
                </div>
                <h3 class="price mb-0">$958,000</h3>
                <p class="text space fz15">$2,300/sq ft</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row wrap mt50 wow fadeInUp" data-wow-delay="500ms">
          <div class="col-lg-8">
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">Overview</h4>
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element mb25 d-flex align-items-center">
                    <span class="icon flaticon-bed"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Bedroom</h6>
                      <p class="text mb-0 fz15">3</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element mb25 d-flex align-items-center">
                    <span class="icon flaticon-shower"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Bath</h6>
                      <p class="text mb-0 fz15">2</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element mb25 d-flex align-items-center">
                    <span class="icon flaticon-event"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Year Built</h6>
                      <p class="text mb-0 fz15">2022</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element mb25-xs d-flex align-items-center">
                    <span class="icon flaticon-garage"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Garage</h6>
                      <p class="text mb-0 fz15">2</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element mb25-xs d-flex align-items-center">
                    <span class="icon flaticon-expand"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Sqft</h6>
                      <p class="text mb-0 fz15">1200</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element d-flex align-items-center">
                    <span class="icon flaticon-home-1"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Property Type</h6>
                      <p class="text mb-0 fz15">Apartment</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">Property Description</h4>
              <p class="text mb10">This 3-bed with a loft, 2-bath home in the gated community of The Hideout has it all. From the open floor plan to the abundance of light from the windows, this home is perfect for entertaining. The living room and dining room have vaulted ceilings and a beautiful fireplace. You will love spending time on the deck taking in the beautiful views. In the kitchen, you'll find stainless steel appliances and a tile backsplash, as well as a breakfast bar.</p>
              <div class="agent-single-accordion">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="">
                      <div class="accordion-body p-0"><p class="text">Placeholder content for this accordion, which is intended to demonstrate the class. This is the first item's accordion body you get groundbreaking performance and amazing battery life. Add to that a stunning Liquid Retina XDR display, the best camera and audio ever in a Mac notebook, and all the ports you need.</p></div>
                    </div>
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button p-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Show more</button>
                    </h2>
                  </div>
                </div>
              </div>
              <h4 class="title fz17 mb30 mt50">Property Details</h4>
              <div class="row">
                <div class="col-md-6 col-xl-4">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Property ID</p>
                      <p class="fw600 mb10 ff-heading dark-color">Price</p>
                      <p class="fw600 mb10 ff-heading dark-color">Property Size</p>
                      <p class="fw600 mb10 ff-heading dark-color">Bathrooms</p>
                      <p class="fw600 mb-0 ff-heading dark-color">Bedrooms</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">RT48</p>
                      <p class="text mb10">$252,000</p>
                      <p class="text mb10">1500 Sq Ft</p>
                      <p class="text mb10">3</p>
                      <p class="text mb-0">2</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4 offset-xl-2">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Garage</p>
                      <p class="fw600 mb10 ff-heading dark-color">Garage Size</p>
                      <p class="fw600 mb10 ff-heading dark-color">Year Built</p>
                      <p class="fw600 mb10 ff-heading dark-color">Property Type</p>
                      <p class="fw600 mb-0 ff-heading dark-color">Property Status</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">2</p>
                      <p class="text mb10">200 SqFt</p>
                      <p class="text mb10">2022</p>
                      <p class="text mb10">Apartment</p>
                      <p class="text mb-0">For Sale</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30 mt30">Address</h4>
              <div class="row">
                <div class="col-md-6 col-xl-4">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Address</p>
                      <p class="fw600 mb10 ff-heading dark-color">City</p>
                      <p class="fw600 mb-0 ff-heading dark-color">State/county</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">10425 Tabor St</p>
                      <p class="text mb10">Los Angeles</p>
                      <p class="text mb-0">California</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4 offset-xl-2">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Zip/Postal Code</p>
                      <p class="fw600 mb10 ff-heading dark-color">Area</p>
                      <p class="fw600 mb-0 ff-heading dark-color">Country</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">90034</p>
                      <p class="text mb10">Brookside</p>
                      <p class="text mb-0">United States</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <iframe class="position-relative bdrs12 mt30 h250" loading="lazy" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near" title="London Eye, London, United Kingdom" aria-label="London Eye, London, United Kingdom"></iframe>
                </div>
              </div>
            </div>
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">Features & Amenities</h4>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="pd-list mb10-sm">
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Air Conditioning</p>
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Barbeque</p>
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Dryer</p>
                    <p class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Gym</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="pd-list">
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Lawn</p>
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Microwave</p>
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Outdoor Shower</p>
                    <p class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Refrigerator</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="pd-list">
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Swimming Pool</p>
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>TV Cable</p>
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Washer</p>
                    <p class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>WiFi6<p>
                  </div>
                </div>
              </div>
            </div>
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">Energy Class</h4>
              <div class="row">
                <div class="col-sm-12">
                  <div class="pd-list d-flex justify-content-between">
                    <p class="text mb10">Global Energy Performance Index</p>
                    <p>A+</p>
                  </div>
                  <div class="pd-list d-flex justify-content-between">
                    <p class="text mb10">Renewable energy performance index</p>
                    <p>92.42 kWh / m²a</p>
                  </div>
                  <div class="pd-list d-flex justify-content-between">
                    <p class="text mb10">Energy performance of the building</p>
                    <p>00.00 kWh / m²a</p>
                  </div>
                  <div class="pd-list d-flex justify-content-between">
                    <p class="text mb10">EPC Current Rating</p>
                    <p>92</p>
                  </div>
                  <div class="pd-list d-flex justify-content-between">
                    <p class="text mb10">EPC Potential Rating</p>
                    <p>80+</p>
                  </div>
                </div>
                <div class="col-lg-12 mt20">
                  <img class="w-100" src="/x-x/images/resource/energy-class.png" alt="">
                </div>
              </div>
            </div>
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">Floor Plans</h4>
              <div class="row">
                <div class="col-md-12">
                    <p> 3 floors</p>
                </div>
              </div>
            </div>
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">Video</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="property_video bdrs12 w-100">
                    <a class="video_popup_btn mx-auto popup-img popup-youtube" href="https://www.youtube.com/watch?v=oqNZOOWF8qM"><span class="flaticon-play"></span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">What's Nearby?</h4>
              <div class="row">
                <div class="col-md-12">
                    <iframe class="position-relative bdrs12 mt30 h250" loading="lazy" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near" title="London Eye, London, United Kingdom" aria-label="London Eye, London, United Kingdom"></iframe>
                </div>
              </div>
            </div>
            <!-- <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">Get More Information</h4>
              <div class="agent-single d-sm-flex align-items-center bdrb1 mb30 pb25">
                <div class="single-img mb30-sm">
                  <img class="w90" src="/x-x/images/team/agent-3.png" alt="">
                </div>
                <div class="single-contant ml30 ml0-xs">
                  <h6 class="title mb-1">Arlene McCoy</h6>
                  <div class="agent-meta mb10 d-md-flex align-items-center">
                    <a class="text fz15 pe-2 bdrr1" href="#"><i class="flaticon-call pe-1"></i>(920) 012-3421</a>
                    <a class="text fz15 pe-2 ps-2 bdrr1" href="#"><i class="flaticon-smartphone pe-1"></i>(920) 012-4390</a>
                    <a class="text fz15 ps-2" href="#"><i class="flaticon-whatsapp pe-1"></i>WhatsApp</a>
                  </div>
                  <div class="agent-social">
                    <a class="mr20" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="mr20" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="mr20" href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <form class="form-style1 row">
                    <div class="col-md-6">
                      <div class="mb20">
                        <label class="heading-color ff-heading fw600 mb10">Name</label>
                        <input type="text" class="form-control" placeholder="Ali Tufan">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb20">
                        <label class="heading-color ff-heading fw600 mb10">Phone</label>
                        <input type="text" class="form-control" placeholder="Enter your phone">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb20">
                        <label class="heading-color ff-heading fw600 mb10">Email</label>
                        <input type="email" class="form-control" placeholder="creativelayers088">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="widget-wrapper sideborder-dropdown psp-review mb20">
                        <label class="heading-color ff-heading fw600 mb10">I'm a</label>
                        <div class="form-style2 input-group">
                          <select class="selectpicker" data-width="100%">
                            <option>Select</option>
                            <option value="Engineer">Engineer</option>
                            <option value="Doctor">Doctor</option>
                            <option value="Employee">Employee</option>
                            <option value="Businessman">Businessman</option>
                            <option value="Other">Other</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb10">
                        <label class="heading-color ff-heading fw600 mb10">Message</label>
                        <textarea cols="30" rows="4" placeholder="Hello, I am interested in [Renovated apartment at last floor]"></textarea>
                      </div>
                    </div>
                    <div class="checkbox-style1 d-block d-sm-flex align-items-center justify-content-between mb10">
                      <label class="custom_checkbox fz14 ff-heading">By submitting this form I agree to Terms of Use
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="btn-area">
                      <button class="ud-btn btn-white2">Request Information <i class="fal fa-arrow-right-long"></i></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <div class="row">
                <div class="col-md-12">
                  <div class="product_single_content">
                    <div class="mbp_pagination_comments">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="total_review d-flex align-items-center justify-content-between mb20">
                            <h6 class="fz17 mb15"><i class="fas fa-star fz12 pe-2"></i>5.0 · 3 reviews</h6>
                            <div class="page_control_shorting d-flex align-items-center justify-content-center justify-content-sm-end">
                              <div class="pcs_dropdown mb15"><span>Sort by</span>
                                <select class="selectpicker show-tick">
                                  <option>Newest</option>
                                  <option>Best Seller</option>
                                  <option>Best Match</option>
                                  <option>Price Low</option>
                                  <option>Price High</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="mbp_first position-relative d-flex align-items-center justify-content-start mb30-sm">
                            <img src="/x-x/images/blog/comments-2.png" class="mr-3" alt="comments-2.png">
                            <div class="ml20">
                              <h6 class="mt-0 mb-0">Bessie Cooper</h6>
                              <div><span class="fz14">12 March 2022</span>
                                <div class="blog-single-review">
                                  <ul class="mb0 ps-0">
                                    <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                                    <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                                    <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                                    <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                                    <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p class="text mt20 mb20">Every single thing we tried with John was delicious! Found some awesome places we would definitely go back to on our trip. John was also super friendly and passionate about Beşiktaş and Istanbul.</p>
                          <ul class="mb20 ps-0">
                            <li class="list-inline-item mb5-sm"><img class="bdrs6" src="/x-x/images/blog/blog-single-3.jpg" alt="review-img"></li>
                            <li class="list-inline-item mb5-sm"><img class="bdrs6" src="/x-x/images/blog/blog-single-4.jpg" alt="review-img"></li>
                            <li class="list-inline-item mb5-sm"><img class="bdrs6" src="/x-x/images/blog/blog-single-5.jpg" alt="review-img"></li>
                            <li class="list-inline-item mb5-sm"><img class="bdrs6" src="/x-x/images/blog/blog-single-6.jpg" alt="review-img"></li>
                          </ul>
                          <div class="review_cansel_btns d-flex bdrb1 pb30">
                            <a href="#"><i class="fas fa-thumbs-up"></i>Helpful</a>
                            <a href="#"><i class="fas fa-thumbs-down"></i>Not helpful</a>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="mbp_first position-relative d-flex align-items-center justify-content-start mt30 mb30-sm">
                            <img src="/x-x/images/blog/comments-2.png" class="mr-3" alt="comments-2.png">
                            <div class="ml20">
                              <h6 class="mt-0 mb-0">Darrell Steward</h6>
                              <div><span class="fz14">12 March 2022</span>
                                <div class="blog-single-review">
                                  <ul class="mb0 ps-0">
                                    <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                                    <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                                    <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                                    <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                                    <li class="list-inline-item me-0"><a href="#"><i class="fas fa-star review-color2 fz10"></i></a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p class="text mt20 mb20">Every single thing we tried with John was delicious! Found some awesome places we would definitely go back to on our trip. John was also super friendly and passionate about Beşiktaş and Istanbul.</p>
                          <div class="review_cansel_btns d-flex bdrb1 pb30">
                            <a href="#"><i class="fas fa-thumbs-up"></i>Helpful</a>
                            <a href="#"><i class="fas fa-thumbs-down"></i>Not helpful</a>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="position-relative pt30">
                            <a href="page-property-single-v1.html" class="ud-btn btn-white2">Show all 134 reviews<i class="fal fa-arrow-right-long"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">Leave A Review</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="bsp_reveiw_wrt">
                    <form class="comments_form">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="mb-4">
                            <label class="fw600 ff-heading mb-2">Email</label>
                            <input type="email" class="form-control" placeholder="creativelayers088">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-4">
                            <label class="fw600 ff-heading mb-2">Title</label>
                            <input type="text" class="form-control" placeholder="Enter Title">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="widget-wrapper sideborder-dropdown psp-review mb-4">
                            <label class="fw600 ff-heading mb-2">Rating</label>
                            <div class="form-style2 input-group">
                              <select class="selectpicker" data-live-search="true" data-width="100%">
                                <option>Select</option>
                                <option data-tokens="Five Star">Five Star</option>
                                <option data-tokens="Four Star">Four Star</option>
                                <option data-tokens="Three Star">Three Star</option>
                                <option data-tokens="Two Star">Two Star</option>
                                <option data-tokens="One Star">One Star</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="mb-4">
                            <label class="fw600 ff-heading mb-2">Review</label>
                            <textarea class="pt15" rows="6" placeholder="Write a Review"></textarea>
                          </div>
                          <a href="page-property-single-v1.html" class="ud-btn btn-white2">Submit Review<i class="fal fa-arrow-right-long"></i></a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="col-lg-4">
            <div class="column">
              <div class="default-box-shadow1 bdrs12 bdr1 p30 mb30-md bgc-white position-relative">
                <h4 class="form-title mb5">Schedule a tour</h4>
                <p class="text">Choose your preferred day</p>
                <div class="ps-navtab">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active mr15 mb5-lg" id="pills-inperson-tab" data-bs-toggle="pill" data-bs-target="#pills-inperson" type="button" role="tab" aria-controls="pills-inperson" aria-selected="true">In Person</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-videochat-tab" data-bs-toggle="pill" data-bs-target="#pills-videochat" type="button" role="tab" aria-controls="pills-videochat" aria-selected="false">Video Chat</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-inperson" role="tabpanel" aria-labelledby="pills-inperson-tab">
                      <form class="form-style1">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="mb20">
                              <input type="text" class="form-control" placeholder="Time" />
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="mb20">
                              <input type="text" class="form-control" placeholder="Name">
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="mb20">
                              <input type="text" class="form-control" placeholder="Phone">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="mb20">
                              <input type="email" class="form-control" placeholder="Email">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="mb10">
                              <textarea cols="30" rows="4" placeholder="Enter Your Messages"></textarea>
                            </div>
                          </div>
                          <div class="checkbox-style1 d-block d-sm-flex align-items-center justify-content-between mb10">
                            <label class="custom_checkbox fz14 ff-heading">By submitting this form I agree to Terms of Use
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="col-md-12">
                            <div class="d-grid">
                              <a class="ud-btn btn-thm" href="page-contact.html">Submit a Tour Request<i class="fal fa-arrow-right-long"></i></a>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="pills-videochat" role="tabpanel" aria-labelledby="pills-videochat-tab">
                      <form class="form-style1">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="mb20">
                              <input type="text" class="form-control" placeholder="Time" />
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="mb20">
                              <input type="text" class="form-control" placeholder="Name">
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="mb20">
                              <input type="text" class="form-control" placeholder="Phone">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="mb20">
                              <input type="email" class="form-control" placeholder="Email">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="mb10">
                              <textarea cols="30" rows="4" placeholder="Enter Your Messages"></textarea>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="d-grid">
                              <a class="ud-btn btn-thm" href="page-contact.html">Submit a Tour Request<i class="fal fa-arrow-right-long"></i></a>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="agen-personal-info position-relative bgc-white default-box-shadow1 bdrs12 p30 mt30">
                <div class="widget-wrapper mb-0">
                  <h6 class="title fz17 mb30">Get More Information</h6>
                  <div class="agent-single d-sm-flex align-items-center pb25">
                    <div class="single-img mb30-sm">
                      <img class="w90" src="/x-x/images/team/agent-3.png" alt="">
                    </div>
                    <div class="single-contant ml20 ml0-xs">
                      <h6 class="title mb-1">Arlene McCoy</h6>
                      <div class="agent-meta mb10 d-md-flex align-items-center">
                        <a class="text fz15" href="#"><i class="flaticon-call pe-1"></i>(920) 012-3421</a>
                      </div>
                      <a href="#" class="text-decoration-underline fw600">View Listings</a>
                    </div>
                  </div>
                  <div class="d-grid">
                    <button class="ud-btn btn-white2">Contact Agent<i class="fal fa-arrow-right-long"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt30 wow fadeInUp" data-wow-delay="700ms">
          <div class="col-lg-9">
            <div class="main-title2">
              <h2 class="title">Nearby Similar Homes</h2>
              <p class="paragraph">Aliquam lacinia diam quis lacus euismod</p>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="900ms">
          <div class="col-lg-12">
            <div class="property-city-slider navi_pagi_top_right slider-dib-sm slider-3-grid owl-theme owl-carousel">
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-1.jpg" alt="">
                    <div class="list-tag fz12"><span class="flaticon-electricity me-2"></span>FEATURED</div>
                    <div class="list-price">$14,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Equestrian Family Home</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-2.jpg" alt="">
                    <div class="list-price">$82,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Luxury villa in Rego Park</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-3.jpg" alt="">
                    <div class="list-price">$63,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Villa on Hollywood Boulevard</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-4.jpg" alt="">
                    <div class="list-price">$63,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Triple Story House for Rent</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-5.jpg" alt="">
                    <div class="list-price">$14,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Northwest Office Space</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-6.jpg" alt="">
                    <div class="list-price">$82,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">House on the beverly hills</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-1.jpg" alt="">
                    <div class="list-tag fz12"><span class="flaticon-electricity me-2"></span>FEATURED</div>
                    <div class="list-price">$14,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Equestrian Family Home</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- # footer & scroll up # -->
    <%- include("./partials/footer.ejs") -%>
    <!-- footer end - -->
  
  </div>
</div>
<!-- Wrapper End --> 
<script src="/x-x/js/jquery-3.6.4.min.js"></script> 
<script src="/x-x/js/jquery-migrate-3.0.0.min.js"></script> 
<script src="/x-x/js/popper.min.js"></script> 
<script src="/x-x/js/bootstrap.min.js"></script> 
<script src="/x-x/js/bootstrap-select.min.js"></script> 
<script src="/x-x/js/jquery.mmenu.all.js"></script> 
<script src="/x-x/js/ace-responsive-menu.js"></script>
<script src="/x-x/js/chart.min.js"></script>
<script src="/x-x/js/chart-custome.js"></script>
<script src="/x-x/js/jquery-scrolltofixed-min.js"></script>
<script src="/x-x/js/wow.min.js"></script> 
<script src="/x-x/js/owl.js"></script> 
<script src="/x-x/js/isotop.js"></script>
<script src="/x-x/js/scrollbalance.js"></script>
<!-- Custom script for all pages --> 
<script src="/x-x/js/script.js"></script>
<script>
//  Fixed sidebar Custom Script For That 
$(function() {
  var cols = $('.wrap .column');
  var enabled = true;
  var scrollbalance = new ScrollBalance(cols, {
    minwidth: 0
  });
  // bind to scroll and resize events
  scrollbalance.bind();
});
</script>
</body>

<!-- Mirrored from creativelayers.net/themes/homez-html/page-property-single-v4.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 May 2023 13:12:01 GMT -->
</html>