
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & condition of use of Unizik Housing</title>

    <link rel="stylesheet" href="/x-x/css/bootstrap.min.css">
    <link rel="stylesheet" href="/x-x/css/ud-custom-spacing.css">
    <meta property="og:description" content="Everything stated here are for guide and use of unizik housing, for all users using our platforms">
</head>
<body>
    
    <div class="container px-sm-3 " style="text-align: justify;">
        <h2 class="mb20"> Terms </h2>
        <h3 class="mb25"> Effective Date: Jan 1, 2023</h3>
        
        <div class="row mb30">
          <p class="text col-lg-8">
              Thank you for visiting <span class="fw-bold"> unizikhousing.com</span> . This Terms and Privacy page outlines the terms of use and privacy practices governing your access and use of our website. By accessing or using our website, you signify your acceptance and agreement to these terms and privacy practices. If you do not agree with any part of these terms or our privacy practices, please refrain from using our website.
          </p>
            <div class="col-lg-8">
              <div class="ui-content">
                <h4 class="title"> </h4>
                <h4>1. Terms of Use:</h4>
                <p class="mb25 ff-heading">1.1. Website Usage: The content and information provided on our website are for general informational purposes only. We strive to ensure the accuracy and currency of the information, but we do not guarantee its completeness or reliability.</p>
                <p class="mb25 ff-heading">1.2. User Responsibilities: You agree to use our website responsibly and in compliance with all applicable laws and regulations. Any misuse, unauthorized access, or interference with our website is strictly prohibited.</p>
                <p class="mb25 ff-heading">1.3. Intellectual Property: The content, logo, design, and all other intellectual property rights associated with our website are owned or licensed by us. You agree not to reproduce, distribute, or modify any part of our website without our prior written consent.</p>
                <p class="mb25 ff-heading">1.4. Third-Party Links: Our website may contain links to third-party websites or services that are not owned or controlled by us. We are not responsible for the content or privacy practices of these third-party websites. We encourage you to review their terms of use and privacy policies before using their services.</p>
                <p class="mb25 ff-heading">1.5. Limitation of Liability: We are not liable for any direct, indirect, incidental, consequential, or punitive damages arising out of your use of our website. You agree to use our website at your own risk.</p>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-8" id="privacy">
                <div class="ui-content">
                  <h4 class="title"> </h4>
                  <h4>2. Privacy Policy:</h4>
                  <p class="mb25 ff-heading">2.1. Information Collection: We may collect personal information from you, such as your name, contact information, and preferences, when you use our website. We use this information to provide and improve our services and to personalize your experience.</p>
                  <p class="mb25 ff-heading">2.2. Information Usage: We may use your personal information to communicate with you, process transactions, and provide customer support. We may also use aggregated and anonymized data for analytical purposes.</p>
                  <p class="mb25 ff-heading">2.3. Information Sharing: We do not sell, trade, or rent your personal information to third parties without your consent, except as required by law or as necessary to provide our services. We may share your information with trusted service providers who assist us in operating our website.</p>
                  <p class="mb25 ff-heading">2.4. Security Measures: We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.</p>
                  <p class="mb25 ff-heading">2.5. Cookies and Tracking: We may use cookies and similar technologies to enhance your experience on our website. You may adjust your browser settings to refuse cookies, but please note that some features of our website may not function properly.</p>
                  <p class="mb25 ff-heading">2.6. Children's Privacy: Our website is not intended for use by individuals under the age of 13. We do not knowingly collect personal information from children. If we become aware that we have collected personal information from a child without parental consent, we will take steps to remove that information from our records.</p>
                  <p class="mb25 ff-heading">2.7. Changes to Privacy Policy: We reserve the right to modify our privacy policy at any time. Any changes will be effective immediately upon posting on our website. It is your responsibility to review this policy periodically for any updates.</p>
                </div>
              </div>
            </div>
    </div>

  <div class="mb30 container">
    <p>If you have any questions or concerns about our terms of use or privacy practices, please contact us at <a href="/contact"> [contact page]</a>.</p>
  </div>
</body>
</html>